body{
    background-color: #555c6f;
background-image: url("https://st2.depositphotos.com/9471600/12268/i/950/depositphotos_122686488-stock-photo-html-and-css-code-developing.jpg");
}


header{
    background: #DAF7A6;
    padding: 20px;  
    text-align: right;
    margin: 10px;
    border: 2px solid #757793;
  }

  .style_a{
    font-weight: bold;
    color: #01bdbe;
    text-decoration: none;
    font-size: 20px;
    color: #273746;
   }

.main_div{
    border: 2px solid #757793; 
    color: #273746  ;
    font-size: 30px;
    width: 600px;
    height: 700px;
    background: #DAF7A6    ;
    margin: 0 auto;
}  

.main_div1{
    /*border: 2px solid #757793;*/ 
    margin: 30px;
}  

.main_div2{
    /*border: 2px solid #757793;*/ 
    margin: 30px;
}  

.main_div3{
    /*border: 2px solid #757793;*/ 
    margin: 30px;
}  

img{
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border: 2px solid #757793;
}